<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="shortcut icon" th:href="@{/image/logo.png}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/student.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div th:insert="~{header :: copy}"></div>

<div id="main-admin">
    <div id="admin-box">
        <div id="admin-inner">
            <div id="admin-item-dep" class="admin-item">
                <img src="/image/department.png" alt="dep">
                <div class="admin-item-control">
                    <img class="control-btn" src="/image/add.png" alt="+">
                    <img class="control-btn" src="/image/remove.png" alt="-">
                    <img class="control-btn" src="/image/edit.png" alt="edit">
                </div>
            </div>

            <div id="admin-item-sub" class="admin-item">
                <img src="/image/subject.png" alt="sub">
                <div class="admin-item-control">
                    <img class="control-btn" src="/image/add.png" alt="+">
                    <img class="control-btn" src="/image/remove.png" alt="-">
                    <img class="control-btn" src="/image/edit.png" alt="edit">
                </div>
            </div>
            <div id='admin-item-stud' class="admin-item">
                <img src="/image/person.png" alt="stud">
                <div class="admin-item-control">
                    <img class="control-btn" src="/image/add.png" alt="+">
                    <img class="control-btn" src="/image/remove.png" alt="-">
                    <img class="control-btn" src="/image/edit.png" alt="edit">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="common-modal">
            <div id="common-content">
                <div id="common-head">
                    <div id="common-title">Title</div>
                    <span class="close">&times;</span>
                </div>
                <div id="common-body">
                    <div id="common-input">
                        <input id="input-entity" type="text">
                    </div>
                    <div id="common-select">
                        <ul id="common-ul">
                            <li value="1" class="common-li">Department of American Security</li>
                            <li value="2" class="common-li">Department of American Security</li>
                            <li value="3" class="common-li">Department of American Security</li>
                            <li value="4" class="common-li">Department of American Security</li>
                            <li value="5" class="common-li">Department of American Security</li>
                            <li value="6" class="common-li">Department of American Security</li>
                            <li value="7" class="common-li">Department of American Security</li>
                            <li value="8" class="common-li">Department of American Security</li>
                            <li value="9" class="common-li">Department of American Security</li>
                            <li value="10" class="common-li">Department of American Security</li>
                        </ul>
                    </div>
                    <div id="common-button-row">
                        <button id="button-submit">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="student-modal">
            <div id="student-content">
                <div id="stud-content-head">
                    <div id="student-title">Title</div>
                    <span class="close">&times;</span>
                </div>
                <!--/*@thymesVar id="student" type="project.model.Student"*/-->
                <form action="#" th:action="@{/api/student}" th:object="${student}" method="post" enctype="multipart/form-data">
                    <div id="stud-content-body">
                        <div class="stud-input-line">
                            <div class="stud-label">First Name</div>
                            <div class="stud-label">Last Name</div>
                        </div>
                        <div class="add-line stud-input-line">
                            <input type="text" th:field="*{first_name}">
                            <input type="text" th:field="*{last_name}">
                        </div>
                        <div class="stud-input-line">
                            <div class="stud-label">Password</div>
                            <div class="stud-label">E-mail</div>
                        </div>
                        <div class="stud-input-line">
                            <input type="password" th:field="*{password}">
                            <input type="email" th:field="*{email}">
                        </div>
                        <div class="stud-input-line">
                            <div class="brthday-line">
                                <div id="brth-day">Day</div>
                                <div id="brth-mon">Month</div>
                                <div id="brth-year">Year</div>
                            </div>
                            <div class="stud-label">Photo</div>
                        </div>
                        <div class="stud-input-line">
                            <div class="brthday-line">
                                <input id="brthday-day" type="text" name="day">
                                <div class="stud-box">
                                    <input id="mon-v" type="hidden" name="m">
                                    <button id="mon-btn" type=button class="mon-btn">Month</button>
                                    <div id="months" class="months-content">
                                        <div value="1" class="mon-item">January</div>
                                        <div value="2" class="mon-item">February</div>
                                        <div value="3" class="mon-item">March</div>
                                        <div value="4" class="mon-item">April</div>
                                        <div value="5" class="mon-item">May</div>
                                        <div value="6" class="mon-item">June</div>
                                        <div value="7" class="mon-item">July</div>
                                        <div value="8" class="mon-item">August</div>
                                        <div value="9" class="mon-item">September</div>
                                        <div value="10" class="mon-item">October</div>
                                        <div value="11" class="mon-item">November</div>
                                        <div value="12" class="mon-item">December</div>
                                    </div>
                                </div>
                                <input id="brthday-year" type="text" name="year">
                            </div>
                            <div class="stud-label">
                                <label id="file"> Enter Your File
                                    <input type="file" name="file"/>
                                </label>
                            </div>
                        </div>
                        <div class="stud-input-line">
                            <div class="stud-label"></div>
                            <div class="stud-label">Department</div>
                        </div>
                        <div class="stud-input-line">
                            <div class="photo stud-label">
                                <input class="mon-btn" type="submit" value="Ok"/>
                            </div>
                            <div id="stud-input-line" class="stud-box">
                                <input id="dep-v" type="hidden" name="depId">
                                <button id="stud-dep-btn" type=button class="mon-btn">Department</button>
                                <div class="months-content" id="stud-deps"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/admin.js}" type="text/javascript"></script>

<script th:src="@{/js/header.js}" type="text/javascript"></script>

</body>
</html>