<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>Header</title>
    <link rel="shortcut icon" th:href="@{/image/logo.png}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>
</head>
<body>

<div th:fragment="header">
    <div id="head-container">
        <div id="left">
            <div id="logo">
                <img th:src="@{/image/logo.png}" width="36" height="36" alt="logo">
            </div>
            <div id="dep" class="head-box">
                <button id="dep-btn" class="box-btn" sec:authorize="isAuthenticated()">
                    Departments<i class="fa fa-caret-down"></i>
                </button>
                <div id="deps" class="dropdown-content"></div>
            </div>
            <div id="sub" class="head-box">
                <button id="sub-btn" class="box-btn" sec:authorize="isAuthenticated()">
                    Subjects<i class="fa fa-caret-down"></i>
                </button>
                <div id="subs" class="dropdown-content"></div>
            </div>
            <div id="values" class="head-box">
                <button id="values-btn" class="box-btn" sec:authorize="isAuthenticated()">
                    Values
                </button>
            </div>
            <div id="contacts" class="head-box">
                <button id="contacts-btn" class="box-btn">
                    Contacts
                </button>
            </div>
        </div>
        <div id="right">
            <div class="head-box" id="admin">
                <button onclick="location.href='/admin'" sec:authorize="hasAuthority('ADMIN')" id="admin-btn" class="box-btn">Admin</button>
            </div>
            <div class="head-box" id="login">
                <button onclick="location.href='/logout'" sec:authorize="isAuthenticated()" id="logout-btn" class="box-btn">Logout</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>