<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Header</title>
    <link rel="shortcut icon" th:href="@{/image/logo.png}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div th:fragment="copy">
    <div id="head-container">
        <div id="left">
            <div id="logo">
                <img src="/image/logo.png" width="36" height="36" alt="logo">
            </div>
            <div id="dep" class="head-box">
                <button id="dep-btn" class="box-btn">
                    Departments<i class="fa fa-caret-down"></i>
                </button>
                <div id="deps" class="dropdown-content"></div>
            </div>
            <div id="sub" class="head-box">
                <button id="sub-btn" class="box-btn">
                    Subjects<i class="fa fa-caret-down"></i>
                </button>
                <div id="subs" class="dropdown-content"></div>
            </div>
            <div id="contacts" class="head-box">
                <button id="contacts-btn" class="box-btn">
                    Contacts
                </button>
            </div>
            <span id="search-box">
            <input id="search" type="text">
            <img id="ico" src="/image/search.png" width="16" height="16" alt="search">
        </span>
        </div>
        <div id="right">
            <div class="head-box" id="admin">
                <button id="admin-btn" class="box-btn">Admin</button>
            </div>
            <div class="head-box" id="login">
                <button id="login-btn" class="box-btn">Login</button>
            </div>
        </div>
    </div>
    <div id="login-modal">
        <div id="login-content">
            <div id="login-head">
                Login
                <span class="close">&times;</span>
            </div>
            <div id="login-body">
                <div id="input-row" class="login-row">
                    <input class="input-box" type="text">
                    <input class="input-box" type="password">
                </div>
                <div id="button-row" class="login-row">
                    <button id="login-submit">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>