<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="shortcut icon" th:href="@{/image/bee.png}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div th:replace="header.html :: header"></div>

<div class="login-border">
    <span class="login-head">Login</span>
    <div class="login-form">
        <form name='f' th:action="@{/perform_login}" method='post'>
            <label>
                <input type="text" name="username" placeholder="Your E-mail">
            </label>
            <label>
                <input type="password" name="password" placeholder="Your Password">
            </label>
            <input type="submit" name="submit" value="Log in">
        </form>
    </div>
</div>

</body>
</html>