<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Rating</title>
    <link rel="shortcut icon" th:href="@{/image/logo.png}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/value.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div th:insert="~{header :: copy}"></div>

    <script th:src="@{/js/header.js}"></script>

    <script th:src="@{/js/table.js}"></script>

    <script th:src="@{/js/table-event.js}"></script>

<!--    <div th:insert="~{value :: copy}"></div>       -->

</body>
</html>