<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/api/student}" th:object="${student}" method="post" enctype="multipart/form-data">

    <p><input type="text" th:field="*{first_name}"></p>
    <p><input type="text" th:field="*{last_name}"></p>
    <p><input type="text" th:field="*{password}"></p>
    <p><input type="text" th:field="*{email}"></p>
    <p><input type="file" name="file"></p>
    <br/>
    <p><input type="submit" value="ok"></p>
</form>
</body>
</html>